@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background: gold;
}

.brasil-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10vw;
    width: 100%;
    top: 0;
    transition: all 0.5s;
    position: fixed;
    background-color: green;
    box-shadow: 1px 1px 10px green;
}

.logo img {
    width: 55%;
    margin-top: 1vh;
    border: solid 1px gold;
}

.brasil-nav ul{
    display: flex;
    gap: 5rem;
}

.brasil-nav ul li a{
    color: gold;
    font-weight: 500;
    transition: all 0.5s;
}

.brasil-nav ul li a:hover{
    color: white;
}

.brasil-nav i{
    cursor: pointer;
    font-size: 1.5rem;
}

.menu-br{
    cursor: pointer;
    display: none;
}

.menu-br .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: gold;
    margin: 5px auto;
    transition: all 0.3s;
}

.menu-br .bar:nth-child(1),
.menu-br .bar:nth-child(3){
    background: gold;
}

/* container */

.container{
   max-width: 90%;
   margin: 0 10vw;
   margin-bottom: 10vh;
}

.titulos .container{
   display: flex;
   align-items: center;
}

.titulos .titulos-img{
   width: 50%;
   padding-top: 20vh;
}

.titulos .titulos-img img{ 
   border-radius: 10px;
   border: 3px solid green;
   box-shadow: 7px 7px 15px black;
}

.titulos-text{
    margin-top: 20vh;
}

.titulos .titulos-text h2{
    color: green;
    font-size: 2.0em;
}

.titulos .titulos-text p,
.titulos .titulos-text ol{
   color: blue;
   font-size: 1.2em;
}

/* responsivo */

@media (max-width: 960px) {
   
    .brasil-nav ul li a{
        color: green; 
    }

    .brasil-nav ul li {
        margin-left: 5vw; 
        height: 13.5vh;
    }

    .brasil-nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        justify-content: center;
    }

    .menu-br{
        display: block;
    }

    .menu-br.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }

    .menu-br.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-br.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .cabeçalho-br{
        position: fixed;
        right: -100%;
        top: 85px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: gold;
        transition: 0.3s;
    }

    .cabeçalho-br.ativo{
        right: 0;
    }

   .titulos .container{
       flex-direction: column;
       margin-bottom: 10vh;
   }

   .titulos .titulos-img{
       width: 100%;
       text-align: center;
   }

   .titulos .titulos-text{
    text-align: center;
    margin-top: 5vh;
   }

}



